javaVM = /usr/bin/java
popsize = 40
seed = 0
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/d4aae191/000
outputDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/d4aae191/000/tmp
libs=/Users/chupanw/Projects/Data/PatchStudy/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/Data/PatchStudy/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/Data/PatchStudy/genprog4java/lib/junittestrunner.jar:
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/d4aae191/000/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/d4aae191/000/neg.tests
jacocoPath = /Users/chupanw/Projects/Data/PatchStudy/genprog4java/lib/jacocoagent.jar
testClassPath=/Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/d4aae191/000/target/test-classes/
testGranularity = method
targetClassName = introclassJava.median_d4aae191_000
sourceVersion=1.8
generations=1