
javaVM = /usr/bin/java
popsize = 500
editMode = pre_compute
generations = 20
regenPaths = true
continue = true
seed = 1597432029960
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/checksum/2c155667/003
outputDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/checksum/2c155667/003/tmp
cleanUpVariants = true
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:/Users/chupanw/Projects/genprog4java/lib/varexc.jar
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/checksum/2c155667/003/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/checksum/2c155667/003/neg.tests
jacocoPath = /Users/chupanw/Projects/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/checksum/2c155667/003/target/classes
classSourceFolder = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/checksum/2c155667/003/target/classes
testClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/checksum/2c155667/003/target/test-classes
testGranularity = method
targetClassName = introclassJava.checksum_2c155667_003
sourceVersion=1.8
sample = 0.1
edits = append;delete;replace;aor;ror;lcr;uoi,0.5;abs,0.5;

