
javaVM = /usr/bin/java
popsize = 500
editMode = pre_compute
generations = 20
regenPaths = true
continue = true
seed = 1597356670409
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/317aa705/004
outputDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/317aa705/004/tmp
cleanUpVariants = true
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:/Users/chupanw/Projects/genprog4java/lib/varexc.jar
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/317aa705/004/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/317aa705/004/neg.tests
jacocoPath = /Users/chupanw/Projects/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/317aa705/004/target/classes
classSourceFolder = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/317aa705/004/target/classes
testClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/317aa705/004/target/test-classes
testGranularity = method
targetClassName = introclassJava.digits_317aa705_004
sourceVersion=1.8
sample = 0.1
edits = append;delete;replace;aor;ror;lcr;uoi;abs;

