
javaVM = /usr/bin/java
popsize = 40
editMode = existing
generations = 50
regenPaths = false
seed = 1597193659466
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/07045530/002
outputDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/07045530/002/tmp
cleanUpVariants = true
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:/Users/chupanw/Projects/genprog4java/lib/varexc.jar
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/07045530/002/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/07045530/002/neg.tests
jacocoPath = /Users/chupanw/Projects/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/07045530/002/target/classes
classSourceFolder = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/07045530/002/target/classes
testClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/digits/07045530/002/target/test-classes
testGranularity = method
targetClassName = introclassJava.digits_07045530_002
sourceVersion=1.8
sample = 0.1
edits = append;delete;replace;aor;ror;lcr;uoi;abs;
      