javaVM = /usr/bin/java
popsize = 300
editMode = pre_compute
generations = 50
regenPaths = true
seed = 1586895138930
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/grade/b1924d63/001/
outputDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/grade/b1924d63/001/tmp
cleanUpVariants = true
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:/Users/chupanw/Projects/genprog4java/lib/varexc.jar
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/grade/b1924d63/001/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/grade/b1924d63/001/neg.tests
jacocoPath = /Users/chupanw/Projects/Data/PatchStudy/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/grade/b1924d63/001/target/classes
classSourceFolder = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/grade/b1924d63/001/target/classes
testClassPath=/Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/grade/b1924d63/001/target/test-classes/
testGranularity = method
targetClassName = introclassJava.grade_b1924d63_001
sourceVersion=1.8
sample=0.1
edits = append;delete;replace;
