javaVM = /usr/bin/java
popsize = 1000
editMode = pre_compute
generations = 50
regenPaths = true
seed = 1580748421268
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/
outputDir = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/tmp
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/neg.tests
jacocoPath = /Users/chupanw/Projects/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/target/classes
classSourceFolder = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/target/classes
testClassPath= /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/target/test-classes
testGranularity = method
targetClassName = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/targetClasses.txt
sourceVersion=1.8
sample=0.1
compileCommand=python3 /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-62b/compile.py
edits=append;delete;replace;expadd;exprem;exprep;boundswitch,5.0;