
javaVM = /usr/bin/java
popsize = 100
editMode = pre_compute
generations = 20
regenPaths = true
continue = true
seed = 1598387738196
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b
outputDir = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/tmp
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/neg.tests
jacocoPath = /Users/chupanw/Projects/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/target/classes
classSourceFolder = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/target/classes
testClassPath= /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/target/test-classes
testGranularity = method
targetClassName = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/targetClasses.txt
sourceVersion=1.8
sample=0.1
compileCommand=python3 /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-6b/compile.py
edits=append;delete;replace;aor;ror;lcr;uoi,0.1;abs,0.1;

