javaVM = /usr/bin/java
popsize = 100000
seed = 1580701005425
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/
outputDir = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/tmp
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/neg.tests
jacocoPath = /Users/chupanw/Projects/Data/PatchStudy/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/target/classes
testClassPath= /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/target/test-classes
testGranularity = method
targetClassName = /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/targetClasses.txt
sourceVersion=1.8
generations=100
compileCommand=python3 /Users/chupanw/Projects/Data/PatchStudy/Math-GenProg/Math-1b/compile.py
edits=append;delete;replace
sample=0.5
debug=true
