
javaVM = /usr/bin/java
popsize = 50
editMode = existing
generations = 50
regenPaths = false
seed = 1597184561776
classTestFolder = target/test-classes
workingDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/0cdfa335/003
outputDir = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/0cdfa335/003/tmp
cleanUpVariants = true
libs=/Users/chupanw/Projects/genprog4java/lib/hamcrest-core-1.3.jar:/Users/chupanw/Projects/genprog4java/lib/junit-4.12.jar:/Users/chupanw/Projects/genprog4java/lib/junittestrunner.jar:/Users/chupanw/Projects/genprog4java/lib/varexc.jar
sanity = yes
sourceDir = src/main/java
positiveTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/0cdfa335/003/pos.tests
negativeTests = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/0cdfa335/003/neg.tests
jacocoPath = /Users/chupanw/Projects/genprog4java/lib/jacocoagent.jar
srcClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/0cdfa335/003/target/classes
classSourceFolder = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/0cdfa335/003/target/classes
testClassPath = /Users/chupanw/Projects/Data/PatchStudy/IntroClassJava/dataset/median/0cdfa335/003/target/test-classes
testGranularity = method
targetClassName = introclassJava.median_0cdfa335_003
sourceVersion=1.8
sample = 0.1
edits = append;delete;replace;aor;ror;lcr;uoi;abs;
      